<p id="notice"><%= notice %></p>

<p>
  <strong>Cabin:</strong>
  <%= @cabin_attachment.cabin_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cabin_attachment.image %>
</p>

<%= link_to 'Edit', edit_cabin_attachment_path(@cabin_attachment) %> |
<%= link_to 'Back', cabin_attachments_path %>
