<div class="container user-form col-sm-offset-1">
    <%= form_with(model: user, local: true) do |form| %>
    <%= render 'layouts/error_messages', object: @user %>
    <div class="row">
        <div class="col-sm-3 user-names">
            <%= form.label :username %>
            <%= form.text_field :username, cols: "15", class: "form-control"  %>
        </div>
        <div class="col-sm-3 user-names">
            <%= form.label :firstname, "First Name" %>
            <%= form.text_field :firstname, class: "form-control"  %>
        </div>
        <div class="col-sm-3 user-names">
            <%= form.label :lastname, "Last Name" %>
            <%= form.text_field :lastname, class: "form-control"  %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 user-contact">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control"  %>
        </div>
        <div class="col-sm-4 user-contact">
            <%= form.label :phone_number %>
            <%= form.text_field :phone_number, placeholder: "(XXX) XXX-XXXX", class: "form-control"  %>
        </div>
    </div>
    <p><small>Password must:</small></p>
    <ul>
        <li><small>Be more than 8 characters</small></li>
        <li><small>Contain at least one digit</small></li>
        <li><small>Contain a lower case letter</small></li>
        <li><small>Contain an upper case letter </small></li>
    </ul>
    <div class="row">
        <div class="col-sm-9 form-group">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control"  %>
        </div>
        <div class="col-sm-9 form-group">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, class: "form-control"  %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" align="center">
            <%= form.submit(@user.new_record?  ? "Sign up" : "Update account", class: 'btn btn-success btn-block') %>
            <% if !logged_in? && !current_user %>
                <p>Have an account? <%= link_to "Sign in here", login_path %></p>
            <% end %>
        </div>
    </div>
    <% end %>
</div>