<div id="comment-form">
    <%= form_for @comment do |f| %>
        <%= render 'layouts/error_messages', object: @comment %>
        <%= f.text_area :content, class: 'form-control' %>
        <%= f.hidden_field :article_id %>
        <br>
        <%= f.submit class: 'btn btn-success' %>
    <% end %>
</div>