<%= form_for @comment do |f| %>
    <div>
        <%= f.label :comment %>
    </div>
    <div>
        <%= f.text_area :content %>
    </div>
    <div>
        <%= f.hidden_field :article_id %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>