<% if logged_in?  %>
    <div class="container">
        <% if logged_in? %>
            <section class="col-xs-12 col-sm-6 col-md-12">
            <hgroup class="mb20">
                <h1>Search Results</h1>
                <h2 class="lead"><strong class="text-danger"><%= @articles.length + @users.length + @cabins.length + @events.length %></strong> results were found for the search for <strong class="text-danger"><%= params[:search] %></strong></h2>								
            </hgroup>
            <% if params[:search] %>
                <% if @articles.any? %>
                    <p>Articles:</p>
                    <% @articles.each do |a| %>
                        <article class="search-result row">
                            <div class="col-xs-12 col-sm-12 col-md-2">
                                <ul class="meta-search">
                                    <li><i class="glyphicon glyphicon-calendar"></i> <span><%= a.created_at %></span></li>
                                    <li><i class="glyphicon glyphicon-tags"></i> <span><%= a.user ? a.user.username : "Original Poster Deleted"%></span></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                                <h3><a href="#" title=""><%= link_to a.title, article_path(a) %></a></h3>
                                <p><%= sanitize(a.content.truncate(200, tags: %w(strong em p br div ul ol li))) %></p>						
                            </div>
                            <span class="clearfix borda"></span>
                        </article>
                    <% end %>
                <% end %>
                <br>
                <% if @events.any? %>
                    <p>Events:</p>
                    <% @events.each do |e| %>
                        <article class="search-result row">
                            <div class="col-xs-12 col-sm-12 col-md-2">
                                <ul class="meta-search">
                                    <li><i class="glyphicon glyphicon-calendar"></i> <span><%= "#{e.start_time} - #{e.end_time}" %></span></li>
                                    <li><i class="glyphicon glyphicon-tags"></i> <span><%= e.user ? e.user.username : "Original Poster Deleted" %></span></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                                <h3><a href="#" title=""><%= link_to e.events, event_path(e) %></a></h3>
                                <p><%= sanitize(e.description.truncate(200, tags: %w(strong em p br div ul ol li))) %></p>						
                            </div>
                            <span class="clearfix borda"></span>
                        </article>
                    <% end %>
                <% end %>
                <br>
                <% if @users.any? %>
                    <p>Users:</p>
                    <% @users.each do |u| %>
                        <article class="search-result row">
                            <div class="col-xs-12 col-sm-12 col-md-2">
                                <ul class="meta-search">
                                    <li><i class="glyphicon glyphicon-calendar"></i> <span><%= u.created_at %></span></li>
                                    <li><i class="glyphicon glyphicon-tags"></i> <span><%= u.username %></span></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                                <h3><a href="#" title=""><%= link_to "#{u.firstname} #{u.lastname}", user_path(u) %></a></h3>				
                            </div>
                            <span class="clearfix borda"></span>
                        </article>
                    <% end %>
                <% end %>
                <br>
                <% if @cabins.any? %>
                    <p>Cabins:</p>
                    <% @cabins.each do |c| %>
                        <article class="search-result row">
                            <div class="col-xs-12 col-sm-12 col-md-2">
                                <ul class="meta-search">
                                    <li><i class="glyphicon glyphicon-calendar"></i> <span><%= c.created_at %></span></li>
                                    <li><i class="glyphicon glyphicon-tags"></i> <span><%= c.user ? c.user.username : "Original Poster Deleted"%></span></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                                <h3><a href="#" title=""><%= link_to c.name, cabin_path(c) %></a></h3>
                                <p><%= sanitize(c.description.truncate(200, tags: %w(strong em p br div ul ol li))) %></p>						
                            </div>
                            <span class="clearfix borda"></span>
                        </article>
                    <% end %>
                <% end %>
            <% else %>
                <p>Nothing found here</p>
            <% end %>
            </section>
        <% else %>
            <h1>You must be logged in to access search results.</h1>
        <% end %>
    </div>
<% else %>
  <p>Account not verified</p>
<% end %>