<div class="form-container">
    <div class="article-form">
        <%= form_for @article do |f| %>
            <div class="row">
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, placeholder: "Title", autofocus: true, class: "form-control" %>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <%= f.label :content %>
                    <%= f.text_area :content, placeholder: "Content", autofocus: true, class: "form-control", rows: 5 %>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <%= f.label :image %>
                    <%= f.file_field :image, class: "form-control" %>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <%= f.submit class: "btn btn-primary mb-2" %>
                </div>
            </div>
        <% end %>
    </div>
</div>