<div class="container form-container">
    <div class="article-form">
        <%= form_for @article do |f| %>
            <%= render 'layouts/error_messages', object: @article %>
            <div class="row">
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, placeholder: "50 Character Limit", autofocus: true, class: "form-control" %>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <%= f.label :content %>
                    <%= trix_editor :article, :content, required: true, placeholder: "limit: 10000 characters" %>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <%= f.label :image %>
                    <%= f.file_field :image, class: "form-control" %>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <%= f.submit class: "btn btn-primary mb-2" %>
                </div>
            </div>
        <% end %>
    </div>
</div>