<div class="container">
    <h1 class="section-title">Fishchat <%= link_to "write an article", new_article_path, class: "btn btn-success article-banner-action" %></h1>
    <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
    <br><br>
    <% if @articles.any? %>
        <% @articles.each do |article| %>
            <div class="<%= article.pinned ? 'article-card-pinned' : 'article-card' %>">               
                <div class="<%= article.image? ? 'article card-body' : 'article card-body-no-image' %>">
                    <div class="col md-6">
                        <h4><%= link_to article.title, article_path(article), :class => "card-title" %></h4>
                        <small>
                            <p class="card-subtitle mb-2 text-muted">Created by: 
                                <%= article.user.username if article.user %>
                                <% if article.comments.any? %>
                                    <small><span class="comment-count">(<%= pluralize(article.comments.count, 'comment') %>)</span></small>
                                <% end %>
                            </p>
                        </small>
                        <p class="card-text"><%= sanitize(article.content.truncate(200, tags: %w(strong em p br div ul ol li))) %></p>
                    </div>
                    <% if article.image && article.image.url %>
                        <div class="col md-6">
                            <% if article.image && File.extname(article.image.url).downcase.in?(['.jpg','.jpeg','.gif','.png']) %>
                                <%= image_tag(article.image.url, alt: 'Image', :class => "pull-right article-image", id: "image=#{dom_id(article)}", data: {toggle: "modal", target: "#imgModal-#{dom_id(article)}"}) %>
                            <% elsif article.image %>
                                <span><%= link_to File.basename(article.image.url), article.image.url, class: "pull-right article-image btn btn-primary" %></span>
                            <% end %>
                            <br><br>
                        </div>
                    <% end %>
                </div>
                <% if article.user_id == current_user.id %>
                    <div class="UIactions">                  
                        <span class="a"><%= button_to "Delete", article_path(article), method: :delete, data: { confirm: "are you sure you want to delete this article?"}, class: "btn btn-danger" %></span>
                        <span class="a"><%= link_to "Edit", edit_article_path(article), class: "btn btn-primary"%></span>
                        <% if current_user.admin? %>
                            <span class="a"><%= button_to "Pin this post", toggle_pinned_article_url(article.id), class: "btn btn-info" %></span>
                        <% end %>
                    </div>
                <% end %>
                <div id="imgModal-<%= dom_id(article) %>" class="modal fade">
                    <div class="modal-dialog">
                        <div class="model-content">
                            <div class="img modal-body">
                                <%= image_tag(article.image.url, class: "picture-modal-whole") if article.image?%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    <br>
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>