<h1>All articles</h1>
<% if @articles.any? %>
    <% @articles.each do |article| %>
        <div>
            <p>Created by: <%= article.user.username if article.user %></p>                
            <%= link_to article.title, article_path(article) %>
            <%= truncate(article.content, length: 200) %>
            <%= image_tag(article.image.url, alt: 'Image') if article.image? %>
            <% if logged_in? && article.user_id == current_user.id %>                   
                <%= button_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete the article?" } %>
            <% end %>
        </div>
    <% end %>
<% end %>