<%= @article.title %>
<div>
    <p>Created by: <%= @article.user.username if @article.user %></p>
    <%= simple_format(@article.content) %>
    <% if logged_in? %>
        <%= link_to "Add comment", new_comment_path(article_id: @article.id) %>
    <% else %>
        <p>please <%= link_to 'log in', login_path %> to post comments</p>
    <% end %>
</div>
<div>
    <% @article.comments.each do |comment| %>
        <p>Posted by <%= comment.user.username %></p>
        <p><%= comment.content %>
        <% if logged_in? && comment.user_id == current_user.id %>
            <%= button_to("Delete comment", comment_path(comment), method: :delete) %>
        <% end %>
    <% end %>
</div>