<% if notice %>
    <%= notice %>
<% end %>
<div class="article-card">
    <div class="article card-body">
        <div class="col md-6">
            <h4 class="card-title"><%= @article.title %></h4>
            <small><p class="card-subtitle mb-2 text-muted">Created by: <%= @article.user.username if @article.user_id %></p></small>
            <%= simple_format(@article.content) %>
        </div>
        <div class="col md-6">
            <%= image_tag(@article.image.url, alt: 'Image', :class => "pull-right article-image") if @article.image? %>
        </div>
    </div>
</div>
<div class="UIactions">
    <% if logged_in? && @article.user_id == current_user.id %>                   
        <span class="a"><%= button_to "Delete", article_path(@article), method: :delete, class: "btn btn-danger" %></span>
        <span class="a"><%= button_to "Edit", edit_article_path(@article), class: "btn btn-primary"%></span>
    <% end %>
    <% if logged_in? %>
        <span class="a"><%= link_to "Add comment", new_comment_path(article_id: @article.id), class: "btn btn-success" %></span>
    <% else %>
        <span class="a"><p class="btn btn-success">please <%= link_to 'log in', login_path %> to post comments</p></span>
    <% end %>
</div>
<div class="comments">
    <% @article.comments.each do |comment| %>
    <div class="comment card">
        <div class="comment card body">
            <small><p class="card-subtitle mb-2 text-muted"><p>Posted by <%= comment.user.username %></p></p></small>
            <p><%= comment.content %>
            <% if logged_in? && comment.user_id == current_user.id %>
                <%= button_to("Delete comment", comment_path(comment), method: :delete, class: "btn btn-danger") %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>