<div class="container">
    <h4 class="section-title">Cabins</h4>
    <% if logged_in? %>
        <p><%= link_to "Add a cabin", new_cabin_path %></p>
    <% end %>
    <div id="mapid">
    </div>
    <script src="cabins.js"></script>
    <div class="cabin-grid">
        <% if @cabins %>
            <% @cabins.each do |cabin| %>
                <div class="cabin card">
                    <%= image_tag(cabin.images.url(:thumb), alt: 'Image', class: "cabin card-img-top") if cabin.images? %>
                    <h3 class="cabin card-title"><%= cabin.name %></h3>
                    <div class="cabin card-body">
                        <p><%= cabin.bedrooms %> bedrooms</p>
                        <%= link_to "Check Availability", cabin_path(cabin), class: "btn btn-success btn-block"%>
                        <% if logged_in? && current_user.id == cabin.user_id %>
                            <%= link_to "Edit Cabin", edit_cabin_path(cabin), class: "btn btn-info btn-block"%>
                            <%= button_to "Delete Cabin", cabin_path(cabin), method: :delete, class: "btn btn-danger btn-block"%>
                        <% elsif logged_in? && current_user.admin? %>
                            <%= link_to "Edit Cabin", edit_cabin_path(cabin), class: "btn btn-info btn-block"%>
                            <%= button_to "Delete Cabin", cabin_path(cabin), method: :delete, class: "btn btn-danger btn-block"%>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
