<div class="container">
    <h4 class="section-title">Cabins</h4>
    <% if logged_in? %>
        <p>Are you a member and would like to add your cabin's available reservation dates? <%= link_to "Add your cabin here", new_cabin_path %></p>
    <% else %>
        <p>Please <%= link_to "log in", login_path %> to post your cabin and add reservation dates. </p>
    <% end %>
    <% if logged_in? %>
        <div id="mapid" data-turbolinks="false">
        </div>
        <div class="cabin-grid">
            <% if @cabins %>
                <% @cabins.each do |cabin| %>
                    <div class="cabin card">
                        <h3 class="cabin card-title"><%= cabin.name %></h3>
                        <div class="cabin card-body">
                            <p><%= cabin.bedrooms %> bedrooms</p>
                            <%= link_to "Check Availability", cabin_path(cabin), class: "btn btn-success btn-block"%>
                            <% if logged_in? && current_user.id == cabin.user_id %>
                                <%= link_to "Edit Cabin", edit_cabin_path(cabin), class: "btn btn-info btn-block"%>
                                <%= button_to "Delete Cabin", cabin_path(cabin), method: :delete, class: "btn btn-danger btn-block cabin-delete"%>
                            <% elsif logged_in? && current_user.admin? %>
                                <%= link_to "Edit Cabin", edit_cabin_path(cabin), class: "btn btn-info btn-block"%>
                                <%= button_to "Delete Cabin", cabin_path(cabin), method: :delete, class: "btn btn-danger btn-block cabin-delete"%>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
