<div class="container">
    <h1 align="center" class="section-title">Directory</h1>
    <% if logged_in? %>
        <% if logged_in? %>
            <%= link_to "edit profile", edit_user_path(current_user.id), class: "edit-user-btn btn btn-info btn-xs" %>
        <% end %>
        <table class="users-table table">
            <thead>
                <th>Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
            </thead>
            <tbody>
            <%= will_paginate @users, class: "pagination-style" %>
                <% @users.each do |user| %>
                    <% will_paginate @users, class: "pagination-style" %>
                    <tr>
                        <td><%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %></td>
                        <td><%= user.email %></td>
                        <td><%= number_to_phone(user.phone_number) %></td>
                    </tr>
                    <% will_paginate @users, class: "pagination-style" %>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <div class="user-not-allowed">
            <p>You must be <%= link_to "logged in", login_path %> to view the directory.</p>
        </div>
    <% end %>
</div>