<div class="container">
    <h1 align="center" class="section-title">Directory</h1>
    <% if logged_in? %>
        <% if logged_in? %>
            <%= link_to "edit profile", edit_user_path(current_user.id), class: "edit-user-btn btn btn-info btn-xs" %>
        <% end %>
        <table class="users-table table">
            <thead>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <% will_paginate @users, class: "pagination-style" %>
                    <tr>
                        <td><%= user.lastname %></td>
                        <td><%= user.firstname %></td>
                        <td><%= user.email %></td>
                        <td><%= number_to_phone(user.phone_number, pattern: /(\d{1,4})(\d{4})(\d{4})$/) %></td>
                    </tr>
                    <% will_paginate @users, class: "pagination-style" %>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <div class="user-not-allowed">
            <p>You must be <%= link_to "logged in", login_path %> to view the directory.</p>
        </div>
    <% end %>
</div>