<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="section-title"><%= @user.username %></h1>
  <p>
    <%= @user.email %>
  </p>
  <% if @user.articles.any? %>
    <p>Posts by <%= @user.firstname %>:</p>
    <ul>
      <% @user.articles.each do |f| %>
        <li><%= link_to f.title, article_path %></li>
      <% end %>
    </ul>
  <% end %>
</div>
