<%= content_tag :div,
    id: "session_id_tag",
    data: current_user.id.to_json do 
%>
<% end %>
<%= react_component("components/users/Show", 
  { data: current_user.id.to_json }) 
%>

<!-- <div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="section-title"><%= @user.username %></h1>
  <p>
    <%= @user.email %>
  </p>
  <% if @user.articles.any? %>
    <p>Posts by <%= @user.firstname %>:</p>
    <ul>
      <% @user.articles.each do |f| %>
        <li><%= link_to f.title, article_path(f) %>, posted <%= time_ago_in_words(f.created_at) %> ago</li>
      <% end %>
    </ul>
  <% end %>
  <% if @user.events.any? %>
    <p><%= "#{@user.firstname}'s events:" %></p>
    <ul>
      <% @user.events.each do |e| %>
        <li><%= link_to e.events, event_path(e) %>, <%= e.start_time %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @user.cabins.any? %>
    <p><%= "#{@user.firstname}'s cabins:" %></p>
    <ul>
      <% @user.cabins.each do |c| %>
        <li><%= link_to c.name, cabin_path(c) %></li>
      <% end %>
    </ul>
  <% end %>
</div> -->
