<div class="comment card">
    <div class="comment card-body">
        <% @comments.each do |c| %>
            <% if c.user && c.user.username %>
                <span><em><small>Posted by: <strong><%= link_to c.user.username, user_path(c.user) %></strong> <%= time_ago_in_words(c.created_at) %> ago</small></em></span>
            <% else %>
                <span><em><small>Posted by: <strong><%= 'user not found' %></strong> <%= time_ago_in_words(c.created_at) %> ago</small></em></span>
            <% end %>
            <p><%= c.content.html_safe %> </p>
            <% if logged_in? && c.user_id == current_user.id %>
                <span class="UIbutton"><%= button_to comment_path(c), method: :delete, data: { confirm: "are you sure you want to delete this comment?" }, class: "btn btn-xs btn-danger pull-right" do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %></span>
            <% end %>
        <% end %>
    </div>
</div>