<div class="container">
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <h4 class="section-title">New Event</h4>
      <div>
        <%= f.label :events, "Name of Event"%>
        <%= f.text_field :events, class: "form-control" %>
      </div>
      <div>
        <%= f.label :location, "Location" %>
        <%= f.text_field :location, class: "form-control" %>
      </div>
      <div>
        <%= f.label :description, "Description" %>
        <%= trix_editor :event, :description, placeholder: "limit: 10000 characters" %>
      </div>
      <div>
        <%= f.label :start_time, "From:"%>
        <%= f.date_field :start_time, class: "form-control" %>
      </div>
      <div>
        <%= f.label :end_time, "To:"%>
        <%= f.date_field :end_time, class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-success btn-large" %>
    </div>
  <% end %>
</div>