<div class="archives container">
    <div class="section-title">Archives</div>
    <div class="archive-links">
        <p>Back Bay Bilges (1993-2013)</p>
        <ul>
            <li><%= link_to "Back Bay Bilge - 1993", "/backbaybilges/BBB_1993.pdf", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2000", "/backbaybilges/BBB_2000.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2001", "/backbaybilges/BBB_2001.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2002", "/backbaybilges/BBB_2002.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2003", "/backbaybilges/BBB_2003.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2004", "/backbaybilges/BBB_2004.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2005", "/backbaybilges/BBB_2005.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2006", "/backbaybilges/BBB_2006.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2010", "/backbaybilges/BBB_2010.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2011", "/backbaybilges/BBB_2011.htm", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2012", "/backbaybilges/BBB_2012.pdf", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2013", "/backbaybilges/BBB_2013.pdf", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2014", "/backbaybilges/BBB_2014.pdf", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2015", "/backbaybilges/BBB_2015.pdf", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2016", "/backbaybilges/BBB_2016.pdf", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2017", "/backbaybilges/BBB_2017.pdf", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2018", "/backbaybilges/BBB_2018.pdf", target: "_blank" %></li>
            <li><%= link_to "Back Bay Bilge - 2019", "/backbaybilges/BBB_2019.pdf", target: "_blank" %></li>
        </ul>
    </div>
    <div class="archive-links">
        <p>Daily Bilges (2001 - 2012)</p>
        <ul>
            <li><%= link_to "Daily Bilge - 2001", "/dailybilges/The_Daily_Bilge_2001.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2001", "/dailybilges/the_daily_bilge_2004.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2005", "/dailybilges/The_Daily_Bilge_2005.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2006", "/dailybilges/The_Daily_Bilge_2006.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2007", "/dailybilges/The_Daily_Bilge_2007.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2008", "/dailybilges/The_Daily_Bilge_2008.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2009", "/dailybilges/The_Daily_Bilge_2009.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2010", "/dailybilges/The_Daily_Bilge_2010.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2011", "/dailybilges/The_Daily_Bilge_2011.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2012", "/dailybilges/The_Daily_Bilge_2012.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2013", "/dailybilges/The_Daily_Bilge_2013.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2014", "/dailybilges/The_Daily_Bilge_2014.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2015", "/dailybilges/The_Daily_Bilge_2015.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2016", "/dailybilges/The_Daily_Bilge_2016.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2017", "/dailybilges/The_Daily_Bilge_2017.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2018", "/dailybilges/The_Daily_Bilge_2019.htm", target: "_blank" %></li>
            <li><%= link_to "Daily Bilge - 2019", "/dailybilges/The_Daily_Bilge_2019.htm", target: "_blank" %></li>
        </ul>
    </div>
</div>
