<div class="parallax first">
    <div class="parallax-text">
    <br><br>
        <h1 id="title" align="center">Iron City Fishing Club</h1>
        <h3 id="subtitle" align="center">45.112183 | -80.043042</h3>
        <div class="home-UIbuttons">
            <%= link_to "blog", articles_path, class: "btn btn-primary home-button" %>
            <%= link_to "directory", users_path, class: "btn btn-primary home-button" %>
            <%= link_to "calendar", events_path, class: "btn btn-primary home-button" %>
            <%= link_to "cabin reservations", cabins_path, class: "btn btn-primary home-button" %>
        </div>
    </div>
</div>
<section class="container welcome">
</section>
<div class="parallax second">
</div>
<section class="container apis">
</section>
<div class="parallax third">
</div>
<section class="container UIlinks">
    <div class="card-group">
        <div class="home-card">
            <div class="home-card-body">
                <h5 class="card-title">Current Weather</h5>
                <p class="card-text"><%= render partial: "weather" %></p>
            </div>
        </div>
        <div class="home-card">
            <div class="home-card-body">
                <h5 class="card-title">Exchange Rate</h5>
                <p class="card-text"><%= render partial: "exchange_rate" %></p>
            </div>
        </div>
        <div class="home-card">
            <div class="home-card-body">
                <h5 class="card-title">Breakfast</h5>
                <p class="card-text" id="breakfast-card-text"></p>
            </div>
        </div>
    </div>
</section>
<script src="breakfast.js"></script>
<script src="money.js"></script>