<div class="homepage-UIactions">
    <span class="a" style="background-color: red"><%= link_to "fishchat", articles_path, class: "btn btn-block fishchat" %></span>
    <span class="a" style="background-color: white"><%= link_to "directory", users_path, class: "btn btn-block directory"%></span>
    <span class="a" style="background-color: blue"><%= link_to "events", events_path, class: "btn btn-block eventsLink" %></span>
</div>
<div id="homepage-row">
    <div id="weather-card">
        <h4 class="homepage-card-title">Weather<h4>
        <h6><%= render partial: "weather" %></h6>
    </div>
    <div id="exchange-card">
        <h4 class="homepage-card-title">Exchange Rate (USD/CAD)</h4>
        <h6><%= render partial: "exchange_rate" %></h6>
    </div>
    <div id="breakfast-card">
        <h4 class="homepage-card-title">Breakfast</h4>
        <h6 id="breakfast-card-text"></h6>
    </div>
</div>
