<div class="parallax first">
    <div class="parallax-text">
    <br><br>
        <h1 id="title" align="center">Iron City Fishing Club</h1>
        <h3 id="subtitle" align="center">45.112183 | -80.043042</h3>
        <div class="UIbuttons">
            <%= link_to "Blog", articles_path, class: "btn btn-l home-button" %>
            <%= link_to "Directory", users_path, class: "btn btn-l home-button" %>
            <%= link_to "Calendar", events_path, class: "btn btn-l home-button" %>
            <%= link_to "Cabin Reservations", cabins_path, class: "btn btn-l home-button" %>
        </div>
    </div>
</div>
<section class="container welcome">
    <p>
        <%# coordinates here %>
        Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </p>
</section>
<div class="parallax second">
</div>
<section class="container apis">
    <p>
        <%# coordinates here %>
        Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </p>
</section>
<div class="parallax third">
</div>
<section class="container UIlinks">
    <p>
        <%# coordinates here %>
        Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </p>
</section>









<div class="homepage-UIactions">
    <span class="a" style="background-color: red"><%= link_to "fishchat", articles_path, class: "btn btn-block fishchat" %></span>
    <span class="a" style="background-color: white"><%= link_to "directory", users_path, class: "btn btn-block directory"%></span>
    <span class="a" style="background-color: blue"><%= link_to "events", events_path, class: "btn btn-block eventsLink" %></span>
</div>
<div id="homepage-row">
    <div id="weather-card">
        <h4 class="homepage-card-title">Weather<h4>
        <h6><%= render partial: "weather" %></h6>
    </div>
    <div id="exchange-card">
        <h4 class="homepage-card-title">Exchange Rate (USD/CAD)</h4>
        <h6><%= render partial: "exchange_rate" %></h6>
    </div>
    <div id="breakfast-card">
        <h4 class="homepage-card-title">Breakfast</h4>
        <h6 id="breakfast-card-text"></h6>
    </div>
</div>
<script src="home.js"></script>
