<div id="para-one" class="parallax-img">
    <div class=" parallax-text">
    <br><br>
        <h1 id="title" align="center">Iron City Fishing Club</h1>
        <h3 id="subtitle" align="center">45.112183 | -80.043042</h3>
        <% if logged_in? %>
            <div class="home-UIbuttons">
                <%= link_to "blog", articles_path, class: "btn btn-primary home-button" %>
                <%= link_to "directory", users_path, class: "btn btn-primary home-button" %>
                <%= link_to "calendar", events_path, class: "btn btn-primary home-button" %>
                <%= link_to "cabin reservations", cabins_path, class: "btn btn-primary home-button" %>            
            </div>
            <div class="home-UIbuttons">
                <li class="btn btn-primary home-button" style="text-decoration:none;"><a href=<%= ENV['INSEASON_RESERVATION_LINK'] %>>In Season Reservations</a></li>
                <li class="btn btn-primary home-button" style="text-decoration:none;"><a href=<%= ENV['OUTSEASON_RESERVATION_LINK'] %>>Out of Season Reservations</a></li>
            </div>
        <% else %>
            <div class="home-UIbuttons">
                <%= link_to "log in", login_path, class: "btn btn-primary home-button" %>
                <%= link_to "sign up", new_user_path, class: "btn btn-primary home-button" %>
            </div>
        <% end %>
    </div>
</div>
<section class="home-section UIlinks">
    <div class="row">
        <div class="col-md-8 home-section" id="home-intro">
            <h2 class="section-title">Welcome to ICFC</h2>
            <p>Iron City Fishing Club is a private fishing encampment on Georgian Bay, south of Parry Sound, Ontario. Its members have been vacationing on its shores since ICFC's forefather's first voyage in 1881. Since its inception, the club has remained steadfast in its devotion and pursuit of friendship and family.</p>
        </div>
        <div class="col-md-2 home-section" id="weather">
            <h2 class="section-title">Current Weather</h2>
            <p class="card-text"><%= render partial: "weather" %></p>
        </div>
        <div class="col-md-2 home-section" id="breakfast">
            <h2 class="section-title">Breakfast</h2>
            <p class="card-text" id="breakfast-card-text"></p>
        </div>
    </div>
    <div class="pictures-links">
        <div class="pictures-link-row" id="add-pic-button">
            <div class="btn btn-success pictures-link-row">
                <a class="picture-link" href="https://photos.google.com/share/AF1QipNldgWsKvgyEBv2udxYVNwlVIWJ4Mn_aY2a41SPHoM6c6LMm4HeMmwqZGuIJ4hOXA?key=QmluMS00ZHZfS1JMN1dDTktQb0pwRWNiM003cERn">2019 Pictures</a>
            </div>
            <div class="btn btn-success pictures-link-row">
                <a class="picture-link" href="https://photos.google.com/share/AF1QipNjfWzCYu2JrV3CQ_NIlUbf8APffI3Af2HHTn4RRq9laySkz-OGckBgAvmqAfxrCQ?key=OEVmYVNtSy1FcEpCVktlSTA2QngtQk5tMEliNE9n">2018 Pictures, Part 1</a>
            </div>
            <div class="btn btn-success pictures-link-row">
                <a class="picture-link" href="https://photos.google.com/share/AF1QipPJGncCbqieSG8bhndZLja0FfEVf4KaFlRatt6FWk-AmUAWAWF1pup9qcroOXCh8A?key=NzllQXN0LWtZOFZyQUt1X21ETHBOWnZ5dndadm53">2018 Pictures, Part 2</a>
            </div>
        </div>
    </div>
</section>
<div id="para-two" class="parallax-img">
</div>
<section class="home-section Intro container">
    <div align="center">
        <h5 class="section-title">Current Traffic</h5>
        <iframe class="homepage-map" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1459440.1988828832!2d-80.56660371920148!3d44.403018062644065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x882b394ac02dd491%3A0xb41d5de9c4030ec5!2sToronto%20Pearson%20International%20Airport%2C%20Silver%20Dart%20Drive%2C%20Mississauga%2C%20ON%2C%20Canada!3m2!1d43.6777176!2d-79.6248197!4m5!1s0x4d2af89d9f168371%3A0xf170c239ee53f14c!2sMacTier%2C%20ON%2C%20Canada!3m2!1d45.139272999999996!2d-79.771827!5e0!3m2!1sen!2sus!4v1572568118601!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <p>Note: traffic times are automated and subject to rapid change</p>
    </div>
</section>
<div id="para-three" class="parallax-img">
</div>
<% if logged_in? %>
    <section class="home-section Contacts container">
        <div class="row">
            <div class="emergency-contacts col-md-6">
                <h5 class="section-title">Emergency Contacts</h5>
                <ul class="list-group list-group-flush emergency-contact-list">
                    <li class="list-group-item">Office Telephone: <%= ENV['FP_CONTACT_1'] %></li>
                    <li class="list-group-item">Office Fax Machine: <%= ENV['FP_CONTACT_2'] %></li>
                    <li class="list-group-item">Gregoire Home Telephone: <%= ENV['FP_CONTACT_3'] %></li>
                    <li class="list-group-item">Kitchen Business Telephone: <%= ENV['FP_CONTACT_4'] %></li>
                    <li class="list-group-item">Pay Telephone: <%= ENV['FP_CONTACT_5'] %></li>
                <ul>
            </div>
            <div class="emergency-contacts col-md-6">
                <h5 class="section-title">Links</h5>
                <ul class="list-group list-group-flush emergency-contact-list">
                    <li class="list-group-item"><%= link_to "events", events_path %></li>
                    <li class="list-group-item"><%= link_to "pictures", galleries_path %></li>
                    <li class="list-group-item"><%= link_to "cabins", cabins_path %></li>
                    <li class="list-group-item"><%= link_to "blog", articles_path %></li>
                    <li class="list-group-item"><%= link_to "directory", users_path %></li>
                <ul>
            </div>
        </div>
    </section>
<% end %>