<div class="parallax parallax-container parallax first">
    <div class=" parallax-text">
    <br><br>
        <h1 id="title" align="center">Iron City Fishing Club</h1>
        <h3 id="subtitle" align="center">45.112183 | -80.043042</h3>
        <% if logged_in? %>
            <div class="home-UIbuttons">
                <%= link_to "blog", articles_path, class: "btn btn-primary home-button" %>
                <%= link_to "directory", users_path, class: "btn btn-primary home-button" %>
                <%= link_to "calendar", events_path, class: "btn btn-primary home-button" %>
                <%= link_to "cabin reservations", cabins_path, class: "btn btn-primary home-button" %>            </div>
        <% else %>
            <div class="home-UIbuttons">
                <%= link_to "log in", login_path, class: "btn btn-primary home-button" %>
                <%= link_to "sign up", new_user_path, class: "btn btn-primary home-button" %>
            </div>
        <% end %>
    </div>
</div>
<section class="UIlinks">
    <div class="row">
        <div class="col-md-8 home-section" id="home-intro">
            <h2 class="section-title">Welcome to ICFC</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in imperdiet tortor, sit amet placerat mauris. Mauris varius facilisis ex at facilisis. Aliquam at consequat arcu, non rhoncus purus. Aenean ut libero vel dui rutrum sagittis. Ut vel hendrerit leo. In hac habitasse platea dictumst. Sed elit ante, maximus id risus a, aliquam interdum ex. Mauris ut velit vulputate, finibus dui ac, luctus quam. In eu lectus libero.</p>
        </div>
        <div class="col-md-2 home-section" id="weather">
            <h2 class="section-title">Current Weather</h2>
            <p class="card-text"><%= render partial: "weather" %></p>
        </div>
        <div class="col-md-2 home-section" id="breakfast">
            <h2 class="section-title">Breakfast</h2>
            <p class="card-text" id="breakfast-card-text"></p>
        </div>
    </div>
</section>
<div class="parallax parallax-container parallax second">
</div>
<section class="container">
    <h1 class="section-title">The <%= @encampment %> year</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Suspendisse sed nisi lacus sed. Elementum sagittis vitae et leo duis ut diam quam. Tellus integer feugiat scelerisque varius morbi enim nunc. Tincidunt tortor aliquam nulla facilisi cras.</p> 
    <p>Vestibulum morbi blandit cursus risus at ultrices mi. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Eget aliquet nibh praesent tristique magna sit amet.</p>
    <p>Tellus elementum sagittis vitae et leo duis ut. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi. Semper viverra nam libero justo laoreet. Euismod lacinia at quis risus sed. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Tellus orci ac auctor augue mauris augue. Aliquam etiam erat velit scelerisque.</p>
    <p>Id aliquet lectus proin nibh. Pellentesque habitant morbi tristique senectus et. Elementum nibh tellus molestie nunc non. Pretium quam vulputate dignissim suspendisse in. Arcu cursus vitae congue mauris rhoncus. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Pulvinar neque laoreet suspendisse interdum consectetur libero id.</p>
    <p>Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Lobortis feugiat vivamus at augue eget. Urna id volutpat lacus laoreet non. Semper viverra nam libero justo laoreet sit.
</section>
<div class="parallax parallax-container parallax third">
</div>
<% if logged_in? %>
    <section class="container">
        <div class="row">
            <div class="emergency-contacts col-md-6">
                <h5 class="section-title">Emergency Contacts</h5>
                <ul class="list-group list-group-flush emergency-contact-list">
                    <li class="list-group-item">Contact 1</li>
                    <li class="list-group-item">Contact 2</li>
                    <li class="list-group-item">Contact 3</li>
                    <li class="list-group-item">Contact 4</li>
                    <li class="list-group-item">Contact 5</li>
                    <li class="list-group-item">Contact 6</li>
                <ul>
            </div>
            <div class="emergency-contacts col-md-6">
                <h5 class="section-title">Links</h5>
                <ul class="list-group list-group-flush emergency-contact-list">
                    <li class="list-group-item"><%= link_to "events", events_path %></li>
                    <li class="list-group-item"><%= link_to "pictures", galleries_path %></li>
                    <li class="list-group-item"><%= link_to "cabins", cabins_path %></li>
                    <li class="list-group-item"><%= link_to "blog", articles_path %></li>
                    <li class="list-group-item"><%= link_to "directory", users_path %></li>
                <ul>
            </div>
        </div>
    </section>
<% end %>