<div class="parallax first">
    <div class="parallax-text">
    <br><br>
        <h1 id="title" align="center">Iron City Fishing Club</h1>
        <h3 id="subtitle" align="center">45.112183 | -80.043042</h3>
        <div class="home-UIbuttons">
            <%= link_to "blog", articles_path, class: "btn btn-primary home-button" %>
            <%= link_to "directory", users_path, class: "btn btn-primary home-button" %>
            <%= link_to "calendar", events_path, class: "btn btn-primary home-button" %>
            <%= link_to "cabin reservations", cabins_path, class: "btn btn-primary home-button" %>
        </div>
    </div>
</div>
<section class="UIlinks">
    <div class="row">
        <div class="col-md-8 home-section" id="home-intro">
            <h2 class="section-title">Welcome to ICFC</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in imperdiet tortor, sit amet placerat mauris. Mauris varius facilisis ex at facilisis. Aliquam at consequat arcu, non rhoncus purus. Aenean ut libero vel dui rutrum sagittis. Ut vel hendrerit leo. In hac habitasse platea dictumst. Sed elit ante, maximus id risus a, aliquam interdum ex. Mauris ut velit vulputate, finibus dui ac, luctus quam. In eu lectus libero.</p>
        </div>
        <div class="col-md-2 home-section" id="weather">
            <h2 class="section-title">Current Weather</h2>
            <p class="card-text"><%= render partial: "weather" %></p>
        </div>
        <div class="col-md-2 home-section" id="breakfast">
            <h2 class="section-title">Breakfast</h2>
            <p class="card-text" id="breakfast-card-text"></p>
        </div>
    </div>
</section>
<div class="parallax second">
</div>
<section class="container">
</section>
<div class="parallax third">
</div>
<section class="container">
    <div class="row col-sm-offset-2">
        <div class="emergency-contacts col-md-6">
            <h5 class="section-title">Emergency Contacts</h5>
            <ul class="emergency-contact-list">
                <li>Contact 1</li>
                <li>Contact 2</li>
                <li>Contact 3</li>
                <li>Contact 4</li>
                <li>Contact 5</li>
                <li>Contact 6</li>
            <ul>
        </div>
        <div class="emergency-contacts col-md-6">
            <h5 class="section-title">Links</h5>
            <ul class="emergency-contact-list">
                <li>Events</li>
                <li>Photos</li>
                <li>Contacts</li>
                <li>Blog</li>
                <li>Cabins</li>
            <ul>
        </div>
    </div>
</section>
<script src="/assets/javascripts/breakfast.js"></script>