<!DOCTYPE html>
<html>
  <head>
    <title>ICFC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= favicon_link_tag asset_path ('icfc.png')%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      <% if notice %>
        <p class= "alert alert-secondary"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </p>
      <% end %>
      <%= yield %>
  </body>
  <script>
      setTimeout("$('.alert-secondary').fadeOut('slow')", 3000)
  </script>
</html>
