<div>
    <%= form_for @cabindate do |f| %>
        <%= f.label :startdate, "Start Date" %>
        <%= f.date_field :startdate, class: 'form-control' %>
        <%= f.label :enddate, "End Date" %>
        <%= f.date_field :enddate, class: 'form-control' %>
        <%= f.hidden_field :cabin_id %>
        <br>
        <%= f.submit class: 'btn btn-success' %>
    <% end %>
</div>