<div class="container">
    <h1 class="section-title" align="center">Pictures</h1>
    <% if logged_in? %>
        <%= link_to "post a picture <i class='fa fa-plus'></i>".html_safe, "#", data: {toggle: "modal", target: "#galleryModal"}, class: "btn btn-xs btn-success pull-left" %>
    <% else %>
        <p align="center">please <%= link_to "log in", login_path, data: {toggle: "modal", target: "#myModal"} %> to post pictures</p>
    <% end %>
    <div id="pictures">
    </div>
    <% if @galleries %>
        <div class="picture-container">
            <% @galleries.each do |picture| %>
                <div class="card picture">
                    <div class="card card-body picture">
                        <%= image_tag(picture.image.url(:thumb), class: "gallery-img", id: "image=#{dom_id(picture)}", data: {toggle: "modal", target: "#imgModal-#{dom_id(picture)}"}) if picture.image? %>
                        <% if logged_in? && picture.user_id == current_user.id %>
                            <%= button_to "delete", gallery_path(picture), method: :delete, class: "btn btn-xs btn-block btn-danger" %>
                        <% elsif logged_in? && current_user.admin? %>
                            <%= button_to "delete", gallery_path(picture), method: :delete, class: "btn btn-xs btn-block btn-danger" %>
                        <% end %>
                        <div id="imgModal-<%= dom_id(picture) %>" class="modal fade">
                            <div class="modal-dialog">
                                <div class="model-content">
                                    <div class="img modal-body">
                                        <%= image_tag(picture.image.url, class: "picture-modal-whole")%>
                                        <p class="img-caption"><%= picture.caption %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

<div id="galleryModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="model-content">
            <div class="modal-body">
                <%= form_for @gallery do |f| %>
                <div class="form-group">
                    <%= f.label :caption, class: "session-label" %>
                    <%= f.text_field :caption, class: "form-control", placeholder: "caption", required: "required" %>
                </div>
                <div class="form-group">
                    <%= f.label :picture, class: "session-label" %>
                    <%= f.file_field :image, class: "form-control", required: "required" %>
                </div>
                <div class="form-group">
                    <%= f.submit "Post", class: "btn btn-primary btn-block btn-lg" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script src="galleries.js"></script>