<div id="cabin-form" class="form-container">
    <%= form_for @cabin do |f| %>
        <%= render 'layouts/error_messages', object: @cabin %>
        <div class="row">
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <%= f.label :bedrooms %>
                <%= f.text_field :bedrooms, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :washerdryer, "Washer/Dryer?" %>
                <%= f.check_box :washerdryer, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :dock, "Dock?" %>
                <%= f.check_box :dock, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :price_per_day, "Price Per Day" %>
                <%= f.text_field :price_per_day, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :price_per_week, "Price Per Week" %>
                <%= f.text_field :price_per_week, class: "form-control" %>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <%= f.label :description %>
                <%= trix_editor :cabin, :description %>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <%= f.fields_for :cabin_attachments do |p| %>
                    <div class="field">
                        <%= p.label :image, "Pictures" %><br>
                        <%= p.file_field :image, multiple: true, name: "cabin_attachments[image][]"%>
                    </div>
                <% end %>
            </div>
        </div>
        <% f.hidden_field :user_id %>
        <div class="form-group">
            <%= f.submit class: "btn btn-primary mb-2" %>
        </div>
    <% end %>
</div>