<!DOCTYPE html>
<html>
  <head>
    <title>Icfc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= yield %>
      <hr>
      <div align="center">
        <p>P.O. Box 308 | Parry Sound, ON P2A 2X4</p>
        <p>P.O. Box 741 | Ingomar, PA 15127</p>
        <p>p: 705-375-2300, f: 705-375-0405</p>
        <p>e: ICFC@vianet.on.ca</p>
      </div>
    </div>
  </body>
</html>
