<!DOCTYPE html>
<html>
  <head>
    <title>ICFC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      <% if notice %>
        <p class= "alert alert-secondary"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </p>
      <% end %>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
