<!DOCTYPE html>
<html>
  <head>
    <title>ICFC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <%= favicon_link_tag asset_path ('icfc.png')%>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      <% if notice %>
        <p class= "alert alert-secondary"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </p>
      <% end %>
      <%= yield %>
  </body>
  <script>
      setTimeout("$('.alert-secondary').fadeOut('slow')", 3000)
  </script>
</html>
